<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-search></app-search>
        <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->

        <!-- Table Basic -->
        <div class="row" id="basic-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{'AttendanceAndLeave.RunAwayEmployees' | translate}}</h4>
                        <div class="text-right">
                            <button type="button" (click)="showEditModalDialog()"
                                class="btn btn-gradient-info mt-1 mr-1">{{'AttendanceAndLeave.EmployeeRe_registration'|translate}}</button>
                            <button type="button" (click)="showEditModalDialog()"
                                class="btn btn-gradient-success mt-1 mr-1">{{'common.Add'|translate}}</button>
                        </div>
                       
                    </div>
                    <div class="card-body">
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> {{'common.Name' | translate}}</th>
                                    <th> {{'common.OfficesName' | translate}} </th>
                                    <th> {{'AttendanceAndLeave.AttendTime' | translate}} </th>
                                    <th> {{'AttendanceAndLeave.LeaveTime' | translate}} </th>
                                    <th> {{'common.Date' | translate}} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">Islam</span>
                                    </td>
                                    <td>Macca</td>
                                    <td>
                                        <div class="avatar-group">
                                            8:00 AM
                                        </div>
                                    </td>
                                    <td><span class="badge badge-pill badge-light-primary mr-1">6:00 PM</span></td>
                                    <td>
                                        1/1/2021
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">Islam</span>
                                    </td>
                                    <td>Macca</td>
                                    <td>
                                        <div class="avatar-group">
                                            8:00 AM
                                        </div>
                                    </td>
                                    <td><span class="badge badge-pill badge-light-primary mr-1">6:00 PM</span></td>
                                    <td>
                                        1/1/2021
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Table Basic -->
        <!-- dialog -->
        <p-dialog [(visible)]="editDisplayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-contol">
                        <form class="form">
                            <div class="row">

                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <label for="company-column">{{'common.SelectEmployee'|translate}}</label>
                                        <select class="form-control" name="" id="">
                                            <option value="">islam</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">{{'common.Notes'|translate}}</label>
                                        <textarea class="form-control" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button type="button" style="float: right;" (click)="UpdateEmployeeOffices()"
                            class="btn btn-gradient-success mt-1">{{'Agree'|translate}}</button>
                        <button type="button" style="float: right;" (click)="this.editDisplayModal = false"
                            class="btn btn-gradient-danger mt-1 mr-1">{{'Reject'|translate}}</button>
                    </div>
                </div>
            </div>
        </p-dialog>
    </div>
</div>