<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <!-- Table Basic -->
        <div class="row" id="basic-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{'exist request' | translate}}</h4>
                        <button type="button" style="float: right;" (click)="NewDisplayModal = true"
                            class="btn btn-gradient-success mt-1">{{'Add'|translate}}</button>
                    </div>
                    <div class="card-body">
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> {{'Name' | translate}}</th>
                                    <th> {{'OfficesName' | translate}} </th>
                                    <th> {{'Date' | translate}} </th>
                                    <th> {{'JobTybe' | translate}} </th>
                                    <th> {{'Action' | translate}} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">Islam</span>
                                    </td>
                                    <td>Islam@test</td>
                                    <td>
                                        <div class="avatar-group">
                                            test
                                        </div>
                                    </td>
                                    <td><span class="badge badge-pill badge-light-primary mr-1">sales</span></td>
                                    <td>
                                        <button (click)="showEditModalDialog()" type="button" class="btn btn-primary"
                                            rippleEffect>{{'Révision' | translate}}</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">Islam</span>
                                    </td>
                                    <td>Islam@test</td>
                                    <td>
                                        <div class="avatar-group">
                                            test
                                        </div>
                                    </td>
                                    <td><span class="badge badge-pill badge-light-primary mr-1">sales</span></td>
                                    <td class="overflow-hidden">
                                        <button (click)="showEditModalDialog()" type="button" class="btn btn-primary"
                                            rippleEffect>{{'Révision' | translate}}</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">Islam</span>
                                    </td>
                                    <td>Islam@test</td>
                                    <td>
                                        <div class="avatar-group">
                                            test
                                        </div>
                                    </td>
                                    <td><span class="badge badge-pill badge-light-primary mr-1">sales</span></td>
                                    <td class="overflow-hidden">
                                        <button (click)="showEditModalDialog()" type="button" class="btn btn-primary"
                                            rippleEffect>{{'Révision' | translate}}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Table Basic -->
        <!-- new -->
        <!-- dialog -->
        <p-dialog [(visible)]="NewDisplayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-contol">
                        <form class="form">
                            <div class="row">

                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <label for="company-column">Select Employee</label>
                                        <select class="form-control" name="" id="">
                                            <option value="">islam</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Reason</label>
                                        <textarea class="form-control" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button type="button" style="float: right;" (click)="UpdateEmployeeOffices()"
                            class="btn btn-gradient-success mt-1">{{'Add'|translate}}</button>
                        <button type="button" style="float: right;" (click)="this.editDisplayModal = false"
                            class="btn btn-gradient-danger mt-1 mr-1">{{'Close'|translate}}</button>
                    </div>
                </div>
            </div>
        </p-dialog>
        <!-- dialog -->
        <p-dialog [(visible)]="editDisplayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-contol">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="first-name-column">اسم الموظف</label>
                                        <input disabled ngModel="اسلام" type="text" id="first-name-column"
                                            class="form-control" placeholder="اسلام" name="fname-column" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="last-name-column">الجنسية</label>
                                        <input disabled ngModel="مصري" type="text" id="last-name-column"
                                            class="form-control" placeholder="مصري" name="lname-column" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="city-column">المهنه الفعليه</label>
                                        <input disabled ngModel="مهندس" type="text" id="city-column"
                                            class="form-control" placeholder="مهندس" name="city-column" />
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="company-column">الادارة الحاليه</label>
                                        <input disabled ngModel="مصر" type="text" id="company-column"
                                            class="form-control" name="company-column" placeholder="مصر" />
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">السبب</label>
                                        <textarea disabled class="form-control" name="" id="" cols="30"
                                            rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button type="button" style="float: right;" (click)="UpdateEmployeeOffices()"
                            class="btn btn-gradient-success mt-1">{{'Agree'|translate}}</button>
                        <button type="button" style="float: right;" (click)="this.editDisplayModal = false"
                            class="btn btn-gradient-danger mt-1 mr-1">{{'Reject'|translate}}</button>
                    </div>
                </div>
            </div>
        </p-dialog>
    </div>
</div>