<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-search></app-search>
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Table Basic -->
        <div class="row" id="basic-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{'IssuingAction' | translate}}</h4>
                    </div>
                    <div class="card-body">
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> {{'Name' | translate}}</th>
                                    <th> {{'Email' | translate}} </th>
                                    <th> {{'Date' | translate}} </th>
                                    <th> {{'JobTybe' | translate}} </th>
                                    <th> {{'Action' | translate}} </th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">Islam</span>
                                    </td>
                                    <td>Islam@test</td>
                                    <td>
                                        <div class="avatar-group">
                                            test
                                        </div>
                                    </td>
                                    <td><span class="badge badge-pill badge-light-primary mr-1">sales</span></td>
                                    <td class="overflow-hidden">
                                        <button type="button" class="btn btn-danger" rippleEffect>{{'IssueContract' | translate}}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Table Basic -->
    </div>
</div>