<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-search></app-search>
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- Table Basic -->
        <div class="row" id="basic-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{'waitingList' | translate}}</h4>
                    </div>
                    <div class="card-body">
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> {{'Name' | translate}}</th>
                                    <th> {{'Email' | translate}} </th>
                                    <th> {{'Date' | translate}} </th>
                                    <th> {{'JobTybe' | translate}} </th>
                                    <th> {{'Action' | translate}} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">Islam</span>
                                    </td>
                                    <td>Islam@test</td>
                                    <td>
                                        <div class="avatar-group">
                                            test
                                        </div>
                                    </td>
                                    <td><span class="badge badge-pill badge-light-primary mr-1">sales</span></td>
                                    <td class="overflow-hidden">
                                        <button type="button" class="btn btn-primary mr-1" rippleEffect>
                                            {{'IssueContract' | translate}}
                                        </button>
                                        <button  (click)="ReviewDialog()" type="button" class="btn btn-success" rippleEffect>
                                            {{'DataReview' | translate}}
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">Islam</span>
                                    </td>
                                    <td>Islam@test</td>
                                    <td>
                                        <div class="avatar-group">
                                            test
                                        </div>
                                    </td>
                                    <td><span class="badge badge-pill badge-light-primary mr-1">sales</span></td>
                                    <td class="overflow-hidden">
                                        <button type="button" class="btn btn-primary mr-1" rippleEffect>
                                            {{'IssueContract' | translate}}
                                        </button>
                                        <button (click)="ReviewDialog()" type="button" class="btn btn-success" rippleEffect>
                                            {{'DataReview' | translate}}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Table Basic -->

        <p-dialog header="Edit" [(visible)]="editDisplayModal" [modal]="true" [style]="{width: '50vw'}"
            [baseZIndex]="10000" [draggable]="false" [resizable]="false">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-contol">
                        <!-- Horizontal Wizard -->
                        <section class="horizontal-wizard">
                            <div id="stepper1" class="bs-stepper horizontal-wizard-example">
                                <div class="bs-stepper-header">
                                    <div class="step" data-target="#account-details">
                                        <button class="step-trigger">
                                            <span class="bs-stepper-box">1</span>
                                            <span class="bs-stepper-label">
                                                <span class="bs-stepper-title">{{'EmployeeDetails'| translate}}</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
                                    <div class="step" data-target="#personal-info">
                                        <button class="step-trigger">
                                            <span class="bs-stepper-box">2</span>
                                            <span class="bs-stepper-label">
                                                <span class="bs-stepper-title">{{'DetailsSalaryAndJob'|
                                                    translate}}</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="line"><i data-feather="chevron-right" class="font-medium-3"></i></div>
                                    <div class="step" data-target="#address">
                                        <button class="step-trigger">
                                            <span class="bs-stepper-box">3</span>
                                            <span class="bs-stepper-label">
                                                <span class="bs-stepper-title">{{'PasportDetail'| translate}}</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="line"><i data-feather="chevron-right" class="font-medium-4"></i></div>
                                    <div class="step" data-target="#uniform">
                                        <button class="step-trigger">
                                            <span class="bs-stepper-box">4</span>
                                            <span class="bs-stepper-label">
                                                <span class="bs-stepper-title"> {{'uniformDetail'| translate}} </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="bs-stepper-content">
                                    <form (ngSubmit)="(HWForm.form.valid)" #HWForm="ngForm">
                                        <div id="account-details" class="content">
                                            <form #accountDetailsForm="ngForm">
                                                <div class="content-header">
                                                    <h5 class="mb-0"> {{'EmplpyeeDetail'| translate}} </h5>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="username">{{'EmployeeName' |
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
        
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="email">{{'nationality' |
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group form-password-toggle col-md-6">
                                                        <label class="form-label" for="password">{{'gender' |
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group form-password-toggle col-md-6">
                                                        <label class="form-label" for="confirm-password">{{'BirthDate' |
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group form-password-toggle col-md-6">
                                                        <label class="form-label" for="confirm-password">{{'JobInvisa' |
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group form-password-toggle col-md-6">
                                                        <label class="form-label" for="confirm-password">{{'RealJob' |
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                </div>
        
                                                <div class="d-flex justify-content-between">
                                                    <button (click)="horizontalWizardStepperPrevious()"
                                                        class="btn btn-outline-secondary btn-prev" disabled
                                                        rippleEffect>
                                                        <i data-feather="arrow-left"
                                                            class="align-middle mr-sm-25 mr-0"></i>
                                                        <span
                                                            class="align-middle d-sm-inline-block d-none">{{'Previous' | translate}}</span>
                                                    </button>
                                                    <button (click)="horizontalWizardStepperNext(accountDetailsForm)"
                                                        type="submit" class="btn btn-primary btn-next" rippleEffect>
                                                        <span class="align-middle d-sm-inline-block d-none">{{'NextReviwe' | translate}}</span>
                                                        <i data-feather="arrow-right"
                                                            class="align-middle ml-sm-25 ml-0"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div id="personal-info" class="content">
                                            <form #personalInfoForm="ngForm">
                                                <div class="content-header">
                                                    <h5 class="mb-0">{{'DetailsSalaryAndJob'| translate}}</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="first-name">{{'JobTybe'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="last-name">{{'BasicSalary'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label"
                                                            for="country">{{'SubsistenceAllowance'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="country">{{'HousingAllowance'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="country">{{'RelocationAllowance'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="country">{{'TotalSalary'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <button (click)="horizontalWizardStepperPrevious()"
                                                        class="btn btn-primary btn-prev" rippleEffect>
                                                        <i data-feather="arrow-left"
                                                            class="align-middle mr-sm-25 mr-0"></i>
                                                        <span
                                                            class="align-middle d-sm-inline-block d-none">{{'Previous' | translate}}</span>
                                                    </button>
                                                    <button (click)="horizontalWizardStepperNext(personalInfoForm)"
                                                        class="btn btn-primary btn-next" rippleEffect>
                                                        <span class="align-middle d-sm-inline-block d-none">{{'NextReviwe' | translate}}</span>
                                                        <i data-feather="arrow-right"
                                                            class="align-middle ml-sm-25 ml-0"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div id="address" class="content">
                                            <form #addressForm="ngForm">
                                                <div class="content-header">
                                                    <h5 class="mb-0">{{'PasportDetail'| translate}}</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="PassportNumber">
                                                            {{'PassportNumber'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label"
                                                            for="PassportDate">{{'StartDataPassport'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label"
                                                            for="PassportEndDate">{{'EndDataPassport'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label"
                                                            for="PassportEndDate">{{'CopyPassport'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="PassportEndDate">
                                                            {{'PhotoVisa'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="TDvisa_number">{{'VisaNumber'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="carrier_company">
                                                            {{'CarrierCompany'| translate}}
                                                        </label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="travel_date"> {{'TravelDate'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label"
                                                            for="PassportEndDate">{{'PhotoTicket'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                </div>
        
                                                <div class="d-flex justify-content-between">
                                                    <button (click)="horizontalWizardStepperPrevious()"
                                                        class="btn btn-primary btn-prev" rippleEffect>
                                                        <i data-feather="arrow-left"
                                                            class="align-middle mr-sm-25 mr-0"></i>
                                                        <span
                                                            class="align-middle d-sm-inline-block d-none">{{'Previous' | translate}}</span>
                                                    </button>
                                                    <button (click)="horizontalWizardStepperNext(addressForm)"
                                                        class="btn btn-primary btn-next" rippleEffect>
                                                        <span class="align-middle d-sm-inline-block d-none">{{'NextReviwe' | translate}}</span>
                                                        <i data-feather="arrow-right"
                                                            class="align-middle ml-sm-25 ml-0"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div id="uniform" class="content">
                                            <form #socialLinkForm="ngForm">
                                                <div class="content-header">
                                                    <h5 class="mb-0"> {{'uniformDetail'| translate}} </h5>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="T_shirtSizeVar">{{'TshirtSize'|
                                                            translate}}
                                                        </label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="PantsSize"> {{'PantsSize'|
                                                            translate}} </label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="shoeSize">{{'ShoeSize'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="form-label" for="PhoneType">{{'PhoneType'|
                                                            translate}}</label>
                                                        <input disabled type="text" class="form-control" />
                                                    </div>
        
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <button (click)="horizontalWizardStepperPrevious()"
                                                        class="btn btn-primary btn-prev" rippleEffect>
                                                        <i data-feather="arrow-left"
                                                            class="align-middle mr-sm-25 mr-0"></i>
                                                        <span
                                                            class="align-middle d-sm-inline-block d-none">{{'Previous' | translate}}</span>
                                                    </button>
                                                    <button class="btn btn-success btn-submit" disabled
                                                        rippleEffect>{{'NextReviwe' | translate}}</button>
                                                </div>
                                            </form>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                        <!--/ Horizontal Wizard --> 
                        <div class="DialogBtnRight">
                            <button type="button" (click)="ReviewDialog()"
                                class="btn btn-gradient-success mt-1">{{'Add'|translate}}</button>
                            <button type="button" (click)="this.editDisplayModal = false"
                                class="btn btn-gradient-danger mt-1 ml-1">{{'Reject'|translate}}</button>
                        </div>
                        <div class="DialogBtnLeft">
                            <button type="button" (click)="this.editDisplayModal = false"
                                class="btn btn-gradient-danger mt-1 text-left">{{'Close'|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>

    </div>
</div>