<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Reset Password v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
          <h2 class="brand-text text-primary ml-1">Vuexy</h2>
        </a>

        <h4 class="card-title mb-1">Reset Password 🔒</h4>
        <p class="card-text mb-2">Your new password must be different from previously used passwords</p>

        <form class="auth-reset-password-form mt-2" (ngSubmit)="(authForm.form.valid)" #authForm="ngForm">
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-new">New Password</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                class="form-control form-control-merge"
                id="reset-password-new"
                name="reset-password-new"
                placeholder="············"
                aria-describedby="reset-password-new"
                tabindex="1"
                autofocus
                [(ngModel)]="newPasswordVar"
                #newPasswordRef="ngModel"
                [class.error]="authForm.submitted && newPasswordRef.invalid"
                required
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <span *ngIf="authForm.submitted && newPasswordRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="newPasswordRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-confirm">Confirm Password</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="confPasswordTextType ? 'text' : 'password'"
                class="form-control form-control-merge"
                id="reset-password-confirm"
                name="reset-password-confirm"
                placeholder="············"
                aria-describedby="reset-password-confirm"
                tabindex="2"
                [(ngModel)]="confPasswordVar"
                #confPasswordRef="ngModel"
                [class.error]="authForm.submitted && confPasswordRef.invalid"
                required
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': confPasswordTextType,
                      'icon-eye': !confPasswordTextType
                    }"
                    (click)="toggleConfPasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <span *ngIf="authForm.submitted && confPasswordRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="confPasswordRef.errors.required"
                >This field is required!</small
              >
            </span>
          </div>
          <button class="btn btn-primary btn-block" tabindex="3" rippleEffect>Set New Password</button>
        </form>

        <p class="text-center mt-2">
          <a routerLink="/pages/authentication/login-v1"> <i data-feather="chevron-left"></i> Back to login </a>
        </p>
      </div>
    </div>
    <!-- /Reset Password v1 -->
  </div>
</div>
