@import '@core/scss/angular/libs/form-wizard.component.scss';
@import '@core/scss/angular/libs/datatables.component.scss';
.pi {
    font-size: 20px;
}

button .icon-span {
    margin-left: 7px;
    position: relative;
    top: -8px;
    font-size: 15px;
}