@import '@core/scss/angular/libs/form-wizard.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
.ng-select {
    border: #e7e7e7 solid 1px;
    padding: 7px;
    border-radius: 5px;
}