<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-search [Show]="true" [SearchArr]="SearchArr" [SearchHeader]="SearchHeader" (click)="MakeSearchArr()">
        </app-search>
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <!-- Table Basic -->
        <div class="row" id="basic-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{'EmploymentOffices' | translate}}</h4>
                        <button type="button" class="btn btn-info mr-1" (click)="showReviewModalDialog('')"
                            rippleEffect>{{'Add'|translate}}</button>
                    </div>
                    <div class="card-body">
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> {{'Name' | translate}}</th>
                                    <th> {{'OfficesName' | translate}} </th>
                                    <th> {{'Date' | translate}} </th>
                                    <th> {{'Location' | translate}} </th>
                                    <th> {{'Action' | translate}} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">Islam</span>
                                    </td>
                                    <td>Islam@test</td>
                                    <td>
                                        <div class="avatar-group">
                                            test
                                        </div>
                                    </td>
                                    <td><span class="badge badge-pill badge-light-primary mr-1">sales</span></td>
                                    <td class="overflow-hidden">
                                        <button (click)="showReviewModalDialog('')" type="button"
                                            class="btn btn-primary mr-2" rippleEffect>{{'Edit' |
                                            translate}}</button>
                                        <button (click)="showReviewModalDialog('Show')" type="button"
                                            class="btn btn-success " rippleEffect>{{'DataReview' |
                                            translate}}</button>
                                        <button (click)="DeleteModalDialog()" type="button" class="btn btn-danger ml-2"
                                            rippleEffect>{{'Delete' | translate}}</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">Islam</span>
                                    </td>
                                    <td>Islam@test</td>
                                    <td>
                                        <div class="avatar-group">
                                            test
                                        </div>
                                    </td>
                                    <td><span class="badge badge-pill badge-light-primary mr-1">sales</span></td>
                                    <td class="overflow-hidden">
                                        <button (click)="showReviewModalDialog('')" type="button"
                                            class="btn btn-primary mr-2" rippleEffect>{{'Edit' |
                                            translate}}</button>
                                        <button (click)="showReviewModalDialog('Show')" type="button"
                                            class="btn btn-success " rippleEffect>{{'DataReview' |
                                            translate}}</button>
                                        <button (click)="DeleteModalDialog()" type="button" class="btn btn-danger ml-2"
                                            rippleEffect>{{'Delete' | translate}}</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">Islam</span>
                                    </td>
                                    <td>Islam@test</td>
                                    <td>
                                        <div class="avatar-group">
                                            test
                                        </div>
                                    </td>
                                    <td><span class="badge badge-pill badge-light-primary mr-1">sales</span></td>
                                    <td class="overflow-hidden">
                                        <button (click)="showReviewModalDialog('')" type="button"
                                            class="btn btn-primary mr-2" rippleEffect>{{'Edit' |
                                            translate}}</button>
                                        <button (click)="showReviewModalDialog('Show');" type="button"
                                            class="btn btn-success " rippleEffect>{{'DataReview' |
                                            translate}}</button>
                                        <button (click)="DeleteModalDialog()" type="button" class="btn btn-danger ml-2"
                                            rippleEffect>{{'Delete' | translate}}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Table Basic -->
        <!-- Review dialog -->
        <p-dialog [(visible)]="ReviewDisplayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-contol">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="first-name-column">{{'OfficeName' | translate}}</label>
                                        <input [disabled]="ShowData" type="text" id="first-name-column"
                                            class="form-control" name="fname-column" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="last-name-column">{{'AdminOfficeName' | translate}}</label>
                                        <input [disabled]="ShowData" type="text" id="last-name-column"
                                            class="form-control" name="lname-column" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="last-name-column">{{'Email' | translate}}</label>
                                        <input [disabled]="ShowData" type="text" id="last-name-column"
                                            class="form-control" name="lname-column" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="last-name-column">{{'Password' | translate}}</label>
                                        <input [disabled]="ShowData" type="password" id="last-name-column"
                                            class="form-control" name="lname-column" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="last-name-column">{{'PhoneNumber' | translate}}</label>
                                        <input [disabled]="ShowData" type="text" id="last-name-column"
                                            class="form-control" name="lname-column" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="city-column">{{'EmployeesNumToWork' | translate}}</label>
                                        <input [disabled]="ShowData" type="text" id="city-column" class="form-control"
                                            name="city-column" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="country-floating">{{'OfficeCategory' | translate}}</label>
                                        <input [disabled]="ShowData" type="text" id="country-floating"
                                            class="form-control" name="country-floating" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="company-column">{{'StartDate' | translate}}</label>
                                        <input [disabled]="ShowData" type="date" id="company-column"
                                            class="form-control" name="company-column" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="company-column">{{'officeStatus' | translate}}</label>
                                        <div class="custom-control custom-switch custom-control-inline col-12">
                                            <input [disabled]="ShowData" type="checkbox" class="custom-control-input"
                                                id="customSwitch1" />
                                            <label class="custom-control-label" for="customSwitch1">{{'Active' |
                                                translate}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="company-column">{{'AddCommercialRegister' | translate}}</label>
                                        <fieldset class="form-group">
                                            <div class="custom-file">
                                                <input [disabled]="ShowData" type="file" class="custom-file-input"
                                                    ng2FileSelect id="file-upload-single" />
                                                <label class="custom-file-label">{{'SelectFile'| translate}}</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="company-column">{{'OfficePhoto' | translate}}</label>
                                        <fieldset class="form-group">
                                            <div class="custom-file">
                                                <input [disabled]="ShowData" type="file" class="custom-file-input"
                                                    ng2FileSelect id="file-upload-single" />
                                                <label class="custom-file-label">{{'SelectFile'| translate}}</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="company-column">{{'officeOwnerPhoto' | translate}}</label>
                                        <fieldset class="form-group">
                                            <div class="custom-file">
                                                <input [disabled]="ShowData" type="file" class="custom-file-input"
                                                    ng2FileSelect id="file-upload-single" />
                                                <label class="custom-file-label">{{'SelectFile'| translate}}</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="company-column">{{'AddOfficeLicense' | translate}}</label>
                                        <fieldset class="form-group">
                                            <div class="custom-file">
                                                <input [disabled]="ShowData" type="file" class="custom-file-input"
                                                    ng2FileSelect id="file-upload-single" />
                                                <label class="custom-file-label">{{'SelectFile'| translate}}</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="email-id-column">{{'Notes' | translate}}</label>
                                        <textarea [disabled]="ShowData" class="form-control" name="" id="" cols="30"
                                            rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="DialogBtnRight">
                            <button type="button" (click)="showReviewModalDialog('')"
                                class="btn btn-gradient-success mt-1 ">{{'Add'|translate}}</button>
                        </div>
                        <div class="DialogBtnLeft">
                            <button type="button" (click)="this.ReviewDisplayModal = false"
                                class="btn btn-gradient-danger mt-1 text-left">{{'Cancel'|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>
    </div>
</div>