<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <app-search [Show]="true" [SearchArr]="SearchArr" [SearchHeader]="SearchHeader" (click)="MakeSearchArr()">
        </app-search>
        <!-- Table Basic -->
        <div class="row" id="basic-table">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{'ManageEmployee.Employmentoffices' | translate}}</h4>
                    </div>
                    <div class="card-body">
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> {{'ManageEmployee.Name' | translate}}</th>
                                    <th> {{'ManageEmployee.Email' | translate}} </th>
                                    <th> {{'ManageEmployee.Job' | translate}} </th>
                                    <th> {{'ManageEmployee.employeestatus' | translate}} </th>
                                    <th> {{'ManageEmployee.Action' | translate}} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">Islam</span>
                                    </td>
                                    <td>Islam@test</td>
                                    <td><span class="badge badge-pill badge-light-primary mr-1">sales</span></td>
                                    <td>
                                        <div class="avatar-group">
                                            test
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info mr-1"
                                            rippleEffect>{{'ManageEmployee.printContract' |
                                            translate}}</button>
                                        <button (click)="showEditModalDialog()" type="button" class="btn btn-primary"
                                            rippleEffect>{{'ManageEmployee.EmployeeDetail' | translate}}</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">Islam</span>
                                    </td>
                                    <td>Islam@test</td>
                                    <td><span class="badge badge-pill badge-light-primary mr-1">sales</span></td>
                                    <td>
                                        <div class="avatar-group">
                                            test
                                        </div>
                                    </td>
                                    <td class="overflow-hidden">
                                        <button type="button" class="btn btn-info mr-1"
                                            rippleEffect>{{'ManageEmployee.printContract' |
                                            translate}}</button>
                                        <button (click)="showEditModalDialog()" type="button" class="btn btn-primary"
                                            rippleEffect>{{'ManageEmployee.EmployeeDetail' | translate}}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Table Basic -->
    </div>
</div>
<!-- dialog -->
<p-dialog header="{{'ManageEmployee.Review' | translate}}" [(visible)]="editDisplayModal" [modal]="true"
    [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="row">
        <div class="col-md-12">
            <div class="form-contol">
                <!-- Horizontal Wizard -->
                <!-- <section class="horizontal-wizard">
                    <div id="stepper1" class="bs-stepper horizontal-wizard-example">
                        <div class="bs-stepper-header">
                            <div class="step" data-target="#account-details">
                                <button class="step-trigger">
                                    <span class="bs-stepper-box">1</span>
                                    <span class="bs-stepper-label">
                                        <span class="bs-stepper-title">{{'ManageEmployee.EmployeeDetail'|
                                            translate}}</span>
                                    </span>
                                </button>
                            </div>
                            <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
                            <div class="step" data-target="#personal-info">
                                <button class="step-trigger">
                                    <span class="bs-stepper-box">2</span>
                                    <span class="bs-stepper-label">
                                        <span class="bs-stepper-title">{{'ManageEmployee.DetailsSalaryAndJob'|
                                            translate}}</span>
                                    </span>
                                </button>
                            </div>
                            <div class="line"><i data-feather="chevron-right" class="font-medium-3"></i></div>
                            <div class="step" data-target="#address">
                                <button class="step-trigger">
                                    <span class="bs-stepper-box">3</span>
                                    <span class="bs-stepper-label">
                                        <span class="bs-stepper-title">{{'ManageEmployee.PasportDetail'|
                                            translate}}</span>
                                    </span>
                                </button>
                            </div>
                            <div class="line"><i data-feather="chevron-right" class="font-medium-4"></i></div>
                            <div class="step" data-target="#uniform">
                                <button class="step-trigger">
                                    <span class="bs-stepper-box">4</span>
                                    <span class="bs-stepper-label">
                                        <span class="bs-stepper-title"> {{'ManageEmployee.uniformDetail'| translate}}
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="bs-stepper-content">
                            <form (ngSubmit)="(HWForm.form.valid)" #HWForm="ngForm">
                                <div id="account-details" class="content">
                                    <form #accountDetailsForm="ngForm">
                                        <div class="content-header">
                                            <h5 class="mb-0"> {{'ManageEmployee.EmployeeDetail'| translate}} </h5>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="form-label" for="username">{{'ManageEmployee.EmployeeName'
                                                    |
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />

                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label" for="email">{{'ManageEmployee.nationality' |
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group form-password-toggle col-md-6">
                                                <label class="form-label" for="password">{{'ManageEmployee.gender' |
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group form-password-toggle col-md-6">
                                                <label class="form-label"
                                                    for="confirm-password">{{'ManageEmployee.BirthDate' |
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group form-password-toggle col-md-6">
                                                <label class="form-label"
                                                    for="confirm-password">{{'ManageEmployee.JobInvisa' |
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group form-password-toggle col-md-6">
                                                <label class="form-label"
                                                    for="confirm-password">{{'ManageEmployee.RealJob' |
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <button (click)="horizontalWizardStepperPrevious()"
                                                class="btn btn-outline-secondary btn-prev" disabled rippleEffect>
                                                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                                <span class="align-middle d-sm-inline-block d-none">{{'btn.previous' |
                                                    translate}}</span>
                                            </button>
                                            <button (click)="horizontalWizardStepperNext(accountDetailsForm)"
                                                type="submit" class="btn btn-primary btn-next" rippleEffect>
                                                <span class="align-middle d-sm-inline-block d-none">{{'btn.NextReviwe' |
                                                    translate}}</span>
                                                <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div id="personal-info" class="content">
                                    <form #personalInfoForm="ngForm">
                                        <div class="content-header">
                                            <h5 class="mb-0">{{'ManageEmployee.DetailsSalaryAndJob'| translate}}</h5>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="form-label" for="first-name">{{'ManageEmployee.JobTybe'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label"
                                                    for="last-name">{{'ManageEmployee.BasicSalary'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="form-label"
                                                    for="country">{{'ManageEmployee.SubsistenceAllowance'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label"
                                                    for="country">{{'ManageEmployee.HousingAllowance'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label"
                                                    for="country">{{'ManageEmployee.RelocationAllowance'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label" for="country">{{'ManageEmployee.TotalSalary'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <button (click)="horizontalWizardStepperPrevious()"
                                                class="btn btn-primary btn-prev" rippleEffect>
                                                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                                <span class="align-middle d-sm-inline-block d-none">{{'btn.previous' |
                                                    translate}}</span>
                                            </button>
                                            <button (click)="horizontalWizardStepperNext(personalInfoForm)"
                                                class="btn btn-primary btn-next" rippleEffect>
                                                <span class="align-middle d-sm-inline-block d-none">{{'btn.NextReviwe' |
                                                    translate}}</span>
                                                <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div id="address" class="content">
                                    <form #addressForm="ngForm">
                                        <div class="content-header">
                                            <h5 class="mb-0">{{'ManageEmployee.PasportDetail'| translate}}</h5>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="form-label" for="PassportNumber">
                                                    {{'ManageEmployee.PassportNumber'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label"
                                                    for="PassportDate">{{'ManageEmployee.StartDataPassport'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="form-label"
                                                    for="PassportEndDate">{{'ManageEmployee.EndDataPassport'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label"
                                                    for="PassportEndDate">{{'ManageEmployee.CopyPassport'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label" for="PassportEndDate">
                                                    {{'ManageEmployee.PhotoVisa'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label"
                                                    for="TDvisa_number">{{'ManageEmployee.VisaNumber'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label" for="carrier_company">
                                                    {{'ManageEmployee.CarrierCompany'| translate}}
                                                </label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label" for="travel_date">
                                                    {{'ManageEmployee.TravelDate'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label"
                                                    for="PassportEndDate">{{'ManageEmployee.PhotoTicket'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <button (click)="horizontalWizardStepperPrevious()"
                                                class="btn btn-primary btn-prev" rippleEffect>
                                                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                                <span class="align-middle d-sm-inline-block d-none">{{'btn.previous' |
                                                    translate}}</span>
                                            </button>
                                            <button (click)="horizontalWizardStepperNext(addressForm)"
                                                class="btn btn-primary btn-next" rippleEffect>
                                                <span class="align-middle d-sm-inline-block d-none">{{'btn.NextReviwe' |
                                                    translate}}</span>
                                                <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div id="uniform" class="content">
                                    <form #socialLinkForm="ngForm">
                                        <div class="content-header">
                                            <h5 class="mb-0"> {{'ManageEmployee.uniformDetail'| translate}} </h5>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="form-label"
                                                    for="T_shirtSizeVar">{{'ManageEmployee.TshirtSize'|
                                                    translate}}
                                                </label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label" for="PantsSize"> {{'ManageEmployee.PantsSize'|
                                                    translate}} </label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label" for="shoeSize">{{'ManageEmployee.ShoeSize'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="form-label" for="PhoneType">{{'ManageEmployee.PhoneType'|
                                                    translate}}</label>
                                                <input disabled type="text" class="form-control" />
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <button (click)="horizontalWizardStepperPrevious()"
                                                class="btn btn-primary btn-prev" rippleEffect>
                                                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                                                <span class="align-middle d-sm-inline-block d-none">{{'btn.previous' |
                                                    translate}}</span>
                                            </button>
                                            <button class="btn btn-success btn-submit" disabled
                                                rippleEffect>{{'btn.NextReviwe' | translate}}</button>
                                        </div>
                                    </form>
                                </div>
                            </form>
                        </div>
                    </div>
                </section> -->
                <!--/ Horizontal Wizard -->
                <ul ngbNav #nav="ngbNav" class="nav-tabs">
                    <li ngbNavItem>
                        <a ngbNavLink><span
                                class="bs-stepper-title">{{'ManageEmployee.EmployeeDetail'|translate}}</span></a>
                        <ng-template ngbNavContent>
                            <form #accountDetailsForm="ngForm">
                                <div class="content-header">
                                    <h5 class="mb-0"> {{'ManageEmployee.EmployeeDetail'| translate}} </h5>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="username">{{'ManageEmployee.EmployeeName'|translate}}: </label>
                                        <br>
                                        <span class="text-secondary">test</span>

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="email">{{'ManageEmployee.nationality'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-password-toggle col-md-6">
                                        <label class="form-label"
                                            for="password">{{'ManageEmployee.gender'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group form-password-toggle col-md-6">
                                        <label class="form-label"
                                            for="confirm-password">{{'ManageEmployee.BirthDate'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group form-password-toggle col-md-6">
                                        <label class="form-label"
                                            for="confirm-password">{{'ManageEmployee.JobInvisa'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group form-password-toggle col-md-6">
                                        <label class="form-label"
                                            for="confirm-password">{{'ManageEmployee.RealJob'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                </div>
                            </form>
                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <a ngbNavLink> <span
                                class="bs-stepper-title">{{'ManageEmployee.DetailsSalaryAndJob'|translate}}</span></a>
                        <ng-template ngbNavContent>
                            <form #personalInfoForm="ngForm">
                                <div class="content-header">
                                    <h5 class="mb-0">{{'ManageEmployee.DetailsSalaryAndJob'| translate}}</h5>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="first-name">{{'ManageEmployee.JobTybe'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="last-name">{{'ManageEmployee.BasicSalary'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="country">{{'ManageEmployee.SubsistenceAllowance'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="country">{{'ManageEmployee.HousingAllowance'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="country">{{'ManageEmployee.RelocationAllowance'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="country">{{'ManageEmployee.TotalSalary'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                </div>
                            </form>
                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <a href="javascript:void(0)" ngbNavLink> <span
                                class="bs-stepper-title">{{'ManageEmployee.PasportDetail'|
                                translate}}</span></a>
                        <ng-template ngbNavContent>
                            <form #addressForm="ngForm">
                                <div class="content-header">
                                    <h5 class="mb-0">{{'ManageEmployee.PasportDetail'| translate}}</h5>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="PassportNumber">
                                            {{'ManageEmployee.PassportNumber'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="PassportDate">{{'ManageEmployee.StartDataPassport'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="PassportEndDate">{{'ManageEmployee.EndDataPassport'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="PassportEndDate">{{'ManageEmployee.CopyPassport'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="PassportEndDate">{{'ManageEmployee.PhotoVisa'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="TDvisa_number">{{'ManageEmployee.VisaNumber'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="carrier_company">{{'ManageEmployee.CarrierCompany'| translate}}:
                                        </label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="travel_date">{{'ManageEmployee.TravelDate'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="PassportEndDate">{{'ManageEmployee.PhotoTicket'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                </div>
                            </form>
                        </ng-template>
                    </li>
                    <li ngbNavItem>
                        <a ngbNavLink> <span class="bs-stepper-title"> {{'ManageEmployee.uniformDetail'| translate}}
                            </span></a>
                        <ng-template ngbNavContent>
                            <form #socialLinkForm="ngForm">
                                <div class="content-header">
                                    <h5 class="mb-0"> {{'ManageEmployee.uniformDetail'| translate}}</h5>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="T_shirtSizeVar">{{'ManageEmployee.TshirtSize'|translate}}:
                                        </label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="PantsSize">
                                            {{'ManageEmployee.PantsSize'|translate}}: </label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="shoeSize">{{'ManageEmployee.ShoeSize'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label"
                                            for="PhoneType">{{'ManageEmployee.PhoneType'|translate}}:</label>
                                        <br>
                                        <span class="text-secondary">test</span>
                                    </div>

                                </div>
                            </form>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>

                <div class="d-flex">
                    <div>
                        <button type="button" (click)="this.editDisplayModal = false"
                            class="btn btn-gradient-danger mt-1 text-left">{{'btn.Cancel'|translate}}</button>
                    </div>
                    <div class="ml-auto">
                        <button type="button" (click)="this.editDisplayModal = false"
                            class="btn btn-gradient-danger mt-1 mr-1">{{'btn.Refuse'|translate}}</button>
                        <button type="button" (click)="UpdateEmployeeOffices()"
                            class="btn btn-gradient-success mt-1">{{'btn.Add'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>