<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Forgot Password v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
          <h2 class="brand-text text-primary ml-1">Vuexy</h2>
        </a>

        <h4 class="card-title mb-1">Forgot Password? 🔒</h4>
        <p class="card-text mb-2">Enter your email and we'll send you instructions to reset your password</p>

        <form class="auth-forgot-password-form mt-2" (ngSubmit)="(authForm.form.valid)" #authForm="ngForm">
          <div class="form-group">
            <label for="forgot-password-email" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="forgot-password-email"
              name="forgot-password-email"
              placeholder="john@example.com"
              aria-describedby="forgot-password-email"
              tabindex="1"
              autofocus
              [class.error]="authForm.submitted && emailRef.invalid"
              [(ngModel)]="emailVar"
              #emailRef="ngModel"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            />
            <span *ngIf="authForm.submitted && emailRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="emailRef.errors.required">This field is required!</small>
            </span>
            <span *ngIf="emailRef.errors && (emailRef.touched || emailRef.dirty)" class="invalid-form">
              <small class="form-text text-danger" [hidden]="!emailRef.errors?.pattern"> Invalid email </small>
            </span>
          </div>
          <button class="btn btn-primary btn-block" tabindex="2" rippleEffect>Send reset link</button>
        </form>

        <p class="text-center mt-2">
          <a routerLink="/pages/authentication/login-v1"> <i data-feather="chevron-left"></i> Back to login </a>
        </p>
      </div>
    </div>
    <!-- /Forgot Password v1 -->
  </div>
</div>
